$purple: #b73abb;
$primary: #000000;
$text-white: #ffffff;
$bg-secondary: #161513;

.navbar {
  background-color: $bg-secondary;
  .connect-btn {
    background: linear-gradient(267deg, #3796d6 0.36%, #4c23e1 102.06%);
    color: $text-white;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    padding: 15px 15px;
  }
  .connect-btn:hover {
    color: $text-white;
  }
}
.hero {
  .custom-name {
    background: linear-gradient(267deg, #3796d6 0.36%, #4c23e1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 40px;
  }

  .connect-btn {
    background: linear-gradient(267deg, #3796d6 0.36%, #4c23e1 102.06%);
    color: $text-white;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    padding: 15px 15px;
  }
  .connect-btn:hover {
    color: $text-white;
  }
}

.about {
  background-color: $bg-secondary;

  .about-acheivement h1 {
    font-size: 60px;
    font-weight: 700;
    background: linear-gradient(267deg, #3796d6 0.36%, #4c23e1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.services {
  .services-format h4 {
    font-weight: 700;
    background: linear-gradient(267deg, #3796d6 0.36%, #4c23e1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.portfolio,
.footer {
  background-color: $bg-secondary;
}

.portfolio {
  .connect-btn {
    background: linear-gradient(267deg, #3796d6 0.36%, #4c23e1 102.06%);
    color: $text-white;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    padding: 15px 15px;
  }
  .connect-btn:hover {
    color: $text-white;
  }
  .same-size-img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
}
.contact{
  h2{
    font-weight: 700;
    font-size: 40px;
    background: linear-gradient(267deg, #3796d6 0.36%, #4c23e1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .connect-btn {
    background: linear-gradient(267deg, #3796d6 0.36%, #4c23e1 102.06%);
    color: $text-white;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    padding: 15px 15px;
  }
    .connect-btn:hover {
    color: $text-white;
  }
  .icon-color {
  fill: #3796d6; /* custom color */
}

}
